<form method="post">
    <div>
        <label for="firstnumber" title="First number" name="firstnumber">First number:</label>
            <input id="firstnumber" number="firstnumber" type="number" placeholder="First number">
    </div>
    <div>
        <label for="lasttnumber" title="Last number">Last number:</label>
            <input id="lastnumber" number="lastnumber" type="number"placeholder="Last number">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <output>
        <h1>{{Greeting}}</h1>
        {{!-- <h2>{{Lastnumber}}</h2> --}}
    </output>
    </form>