div#zag {
    font-style: oblique;
    font-size: medium;
}

body#jap {
    background-color: rgba(243, 59, 89, 0.781);
}

body#gb {
    background-image: url(../images/BackgroundGB.jpg);
    background-color: rgba(38, 67, 163, 0.781);
}

div#yellow {
    color: yellow;
}

.col-md-6 {
    height: 600px;
    overflow: auto;
}

table#japana {
    background-color: rgb(219, 155, 164);
    border: 2px solid rgb(151, 6, 6);
    overflow: scroll;
}

table#grb {
    background-color: rgb(82, 206, 255);
    overflow: scroll;
}

.col-md-3 {
    height: 600px;
    overflow: auto;
}

div#japan {
    background-image: url(https://img.veenaworld.com/customized-holidays/world/japan-china-korea-taiwan/shjp6/shjp6-bnn-1.jpg);
    border: 3px solid rgb(151, 6, 6);
}

div#greatbritain {
    background-image: url(../images/London2.jpg);
    background-position: center -200px;
    border: 3px solid rgb(31, 14, 177);
}

img {
    border-radius: 7px;
}

img:hover {
    border: 1px solid black;
}

h1:hover {
    text-shadow: 1px 1px 2px black;
}