div#zag {
    font-style: oblique;
    font-size: medium;
}

body {
    background-color: rgba(240, 82, 108, 0.781);
}

div#yellow {
    color: yellow;
}
.col-md-6{
    
    height: 600px;
    overflow: auto;
}
table{
    background-color: rgb(218, 180, 185);
    overflow: scroll;
}
.col-md-3{
    
    height: 600px;
    overflow: auto;
}